.update_password_section .form_container {
    max-width: 100%;
    width: 800px;
}

.update_password_section .form_container .form_header {
    width: 100%;
    padding: 10px;
   
}

.update_password_section .form_container h1 {
    color: var(--body_color);
    border-bottom: 5px solid red;
    text-wrap: wrap;
    font-family: var(--lg-font);
    font-size: 28px;

}

.update_password_section .form_container form {
    max-width: 100%;
    border: 2px solid var(--body_color);
    border-radius: 5px;
}

.update_password_section .form_container form input {
    padding: 0.65rem 1.2rem;
    border: none;
    background-color: var(--body_background);
    color: var(--body_color);
    font-size: 22px;
    border: 2px solid var(--body_color);
}

.update_password_section .form_container form  button {
    padding: 0.75rem 1rem;
    background-color: red;
    color: var(--white);
    font-weight: 800;
    border: none;
    margin-top: 20px;
}

@media only screen and (max-width: 991.99px) {
    .update_password_section .form_container form input {
        padding: 0.5rem 1.5rem;
        border: none;
        background-color: var(--body_background);
        color: var(--body_color);
        font-size: 20px;
        border: 2px solid var(--body_color);
    }

    .update_password_section .form_container form  button {
        padding: 0.75rem 0.75rem;
        background-color: red;
        color: var(--white);
        font-size: 16px;
        font-weight: 800;
        border: none;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 768.99px) {
    .update_password_section .form_container form input {
        padding: 0.5rem 1rem;
        border: none;
        background-color: var(--body_background);
        color: var(--body_color);
        font-size: 18px;
        border: 2px solid var(--body_color);
    }

    .update_password_section .form_container form  button {
        padding: 0.75rem 0rem;
        background-color: rgb(255, 0, 0);
        color: var(--white);
        font-weight: 800;
        border: none;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 576.99px) {
    .update_password_section .form_container form input {
        padding: 0.5rem 1rem;
        border: none;
        background-color: var(--body_background);
        color: var(--body_color);
        font-size: 18px;
        border: 2px solid var(--body_color);
    }

    .update_password_section .form_container form  button {
        padding: 0.75rem 0.45rem;
        background-color: red;
        color: var(--white);
        font-size: 14px;
        font-weight: 800;
        border: none;
        margin-top: 20px;
    }

}