.movieList_section .movieList_container .main_header {
    border-bottom: 3px solid red;
    border-radius: 5px;
}

.movieList_section .movieList_container .main_header h1 {
    color: var(--body_color);
    font-size: 35px;
    font-family: var(--lg-font);
    letter-spacing: 1px;
}

.movieList_section .movieList_container .table_section {
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}

.movieList_section .movieList_container .table_section::-webkit-scrollbar {
    display: none;
}

.movieList_section .movieList_container .table_section .table {
    background-color: var(--body_background);
}

.movieList_section .movieList_container .table_section .table th {
    font-size: 18px;
    font-family: var(--sm-font);
    letter-spacing: 1px;
}

.movieList_section .movieList_container .table_section .table td {
    font-size: 15px;
    font-family: var(--sm-font);
    letter-spacing: 1px;
    white-space: wrap; /* Prevent text from wrapping */
    text-overflow: clip;
}

.movieList_section .movieList_container .table_section .table .delete_button {
    color: var(--body_color);
    background-color: red;
    border: none;
    transition: 0.5s ease-in;
}

.movieList_section .movieList_container .table_section .table .delete_button:hover {
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.326);
}

.movieList_section .movieList_container .table_section .table .delete_button .delete_icon {
    color: var(--body_color);
}

.movieList_section .movieList_container .table_section .text-start .add_button {
    color: var(--body_color);
    background-color: red;
    padding: 0.45rem 1.5rem;
    border: none;
    border-radius: 3px;
    font-weight: 500;
    transition: 0.5s ease-in;
}

.movieList_section .movieList_container .table_section .add_button:hover {
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.433);
    color: grey;
}