.mainInterface {
    background-image: linear-gradient(250deg, rgba(255, 255, 241, 0.319) 10%, rgba(0, 0, 0, 0.895) 66%),url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/e8205b9c-5815-4d27-8dd8-6c258c452145/d8lp3si-2dfe67ac-f49a-4d8f-9bda-d718ee9ba51c.jpg/v1/fill/w_1024,h_759,q_75,strp/all_dreamworks_skg_movies_in_order_by_espioartwork_102_d8lp3si-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzU5IiwicGF0aCI6IlwvZlwvZTgyMDViOWMtNTgxNS00ZDI3LThkZDgtNmMyNThjNDUyMTQ1XC9kOGxwM3NpLTJkZmU2N2FjLWY0OWEtNGQ4Zi05YmRhLWQ3MThlZTliYTUxYy5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.i2o2mRqooe425AWQiJmvD591HFhMQ_1KZMuTNR8r0OU');
    color: var(--white);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mainInterface .first_section .header .brand_logo a {
    color: rgba(245, 245, 245, 0.855);
    font-size: 35px;
    font-family: var(--lg-font);
    letter-spacing: 3px;
    font-weight: 900;

}

.mainInterface .first_section .header .end_part a {
    color: var(--white);
    background-color: red;
    padding: 10px 10px;
    border-radius: 3px;
    font-weight: 500;
}

.mainInterface .first_section .main_container .main_content h1 {
    font-family: var(--lg-font);
    letter-spacing: 1px;
    font-weight: 700;
}

.mainInterface .first_section .main_container .main_content p {
    font-family: var(--sm-font);
    letter-spacing: 1px;
    font-weight: 500;
}

.mainInterface .first_section .main_container .main_content .explore_button {
    background-color: red;
    color: var(--white);
    border: none;
    border-radius: 3px;
}

.mainInterface .section {
    background-color: var(--black);
}

.mainInterface .section .main_img {
    max-width: 100%;
    width: 200px;
    border: none;
    border-radius: 5px;
    background-color: white;
}